# Core Libraries
numpy
pandas
tqdm
ftfy
emoji
python-dotenv

# Visualization
matplotlib
seaborn
wordcloud
plotly

# NLP
nltk
langdetect

# Feature Engineering
scikit-learn
keras-preprocessing

# Embeddings
gensim

# Deep Learning
tensorflow==2.15.0
tf-keras

# Azure OpenAI
openai

# Hugging Face Transformers and PyTorch
transformers
torch