# Core Libraries
numpy
pandas
tqdm
ftfy
emoji
python-dotenv

# Visualization
matplotlib
seaborn
wordcloud
plotly
nbformat>=4.2.0

# NLP
nltk
langdetect

# Feature Engineering
scikit-learn
keras-preprocessing
imblearn

# ML Models
xgboost

# Embeddings and Transformers
gensim
transformers[torch]
torch
accelerate>=0.26.0

# Deep Learning
tensorflow==2.15.0
tf-keras

# Azure OpenAI
openai

# Hyperparameter Optimization
optuna

# Hugging Face Datasets
datasets